.card-container{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
    flex-wrap: wrap;
    margin: 10px;
    justify-items: stretch;
    
}

body{
    background-image: url('https://img.freepik.com/foto-gratis/fondo-mesa-madera-vacia-mantel_93675-129997.jpg?w=2000');
}