.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 14vh;
    box-shadow: rgb(0 0 0 / 10%) 0px 2px 3px;
    background-color: coral;
    position: relative;
}

.logo{
    height: 11vh;
    width: 8vw;
    margin-left: 1vw;
}

.logos{
    width: 100%;
    height: 100%;
    
    
}




.button1{
    display: flex;
    margin-left: -50vw;
    
}

.button2{
    display: flex;
    margin-left: 3vw;
    width: 15vw;
}

.bajar{
    display: flex;
    margin-right: 1vw;
    padding: 3vh;
    margin-top: 5vh;
    
}





.input {
    max-width: 210px;
    height: 50px;
    border-radius: 7px;
    border: 0;
    outline: auto grey;
    padding-inline: 15px;
    font-size: 16px;
    transform: all 200ms;
  }
  
  .input:focus {
    text-decoration: underline 6px;
    box-shadow: 0 0 50px rgb(255, 255, 255);
    border: 1px solid grey;
  }

  .input1{
    display: flex;
    margin-right: 45vw;
  }
  












.button1 {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid gray;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: black;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
   }
   
   .button1:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: coral;
    z-index: -1;
   }
   
   .button1:hover, .button1:focus {
    color: white;
   }
   
   .button1:hover:before, .button1:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
   }
   
   .button1:active {
    transform: scale(0.9);
   }









   .wrapper {
    display: inline-flex;
    list-style: none;
    height: 120px;
    width: 100%;
    padding-top: 40px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
  }
  
  .wrapper .icon {
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip {
    position: absolute;
    top: 0;
    font-size: 14px;
    background: #fff;
    color: #fff;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .tooltip::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    background: #fff;
    bottom: -3px;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  
  .wrapper .icon:hover .tooltip {
    top: -45px;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  
  .wrapper .icon:hover span,
  .wrapper .icon:hover .tooltip {
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
  }
  
  .wrapper .facebook:hover,
  .wrapper .facebook:hover .tooltip,
  .wrapper .facebook:hover .tooltip::before {
    background: #1877F2;
    color: #fff;
  }
  
  .wrapper .twitter:hover,
  .wrapper .twitter:hover .tooltip,
  .wrapper .twitter:hover .tooltip::before {
    background:#212121;
    color: #fff;
  }
  
  .wrapper .instagram:hover,
  .wrapper .instagram:hover .tooltip,
  .wrapper .instagram:hover .tooltip::before {
    background:#e4007c;
    color: #fff;
  }





  .button2 {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    padding: 0.7em 2em;
    border: 3px solid gray;
    border-radius: 2px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.1);
    color: black;
    text-decoration: none;
    transition: 0.3s ease all;
    z-index: 1;
   }
   
   .button2:before {
    transition: 0.5s all ease;
    position: absolute;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    opacity: 0;
    content: '';
    background-color: coral;
    z-index: -1;
   }
   
   .button2:hover, .button2:focus {
    color: white;
   }
   
   .button2:hover:before, .button2:focus:before {
    transition: 0.5s all ease;
    left: 0;
    right: 0;
    opacity: 1;
   }
   
   .button2:active {
    transform: scale(0.9);
   }
